<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title brand" rel="author" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/mg_logo.svg' | relative_url }}" alt="MG logo">
      <span>{{ site.title | escape }}</span>
    </a>
    <nav class="site-nav">
      <div class="nav-list">
        <a class="page-link" href="#about"><span class="link-prefix">&gt;_</span><span class="link-label">About</span></a>
        <a class="page-link" href="#websites"><span class="link-prefix">&gt;_</span><span class="link-label">Websites</span></a>
        <a class="page-link" href="#music"><span class="link-prefix">&gt;_</span><span class="link-label">Music</span></a>
        <a class="page-link" href="#software"><span class="link-prefix">&gt;_</span><span class="link-label">PracticeTab</span></a>
        <a class="page-link" href="#spotify"><span class="link-prefix">&gt;_</span><span class="link-label">Spotify</span></a>
      </div>
    </nav>
  </div>
</header>
